body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
.bg{
  border-radius: 2%;
  background: #ffffff;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%)
}

#sidebar-dashboard {
  height: 780px;
  margin-left: -240px;
}
.profile{ 
  width: 120px;
  height: 120px;
 }
.list-group a:hover{
   background: #DD10C9 !important;
   color: #012970;
 }  
 .list-group img{
 margin-left: 10px;
 margin-right: 15px;
} 
 #sidebar-dashboard .list-group {
    width: 240px;
  }
 #page-content-dashboard {
    min-width: 100%;
  }
 #dashboard.toggled #sidebar-dashboard {
    margin-left: 0;
  }
 #menu-toggle {
    cursor: pointer;
  }
 .card_student{
   margin-top: 5px;
   background: #fff;
   box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
 }
 .card_student img{
  color: #fff ;
 }
.card_cours{
  margin-top: 5px;
  background: #012970;
  color: #fff;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.card_cours i{
  color:  #fff;
 }
.card_payment{
  margin-top: 5px;
  background: #fff;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
 }
 .card_payment i{
  color: #012970;
 }
 .card_user{
  margin-top: 5px;
  background: #012970;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;}
  
 .card_user i {
  color: #fff;
 }
 
 td i{
  color: #012970 ;
}
 
  @media (min-width: 768px) {
    #sidebar-dashboard {
      margin-left: 0;
    }
  
    #page-content-dashboard {
      min-width: 0;
      width: 100%;
    }
  
    #dashboard.toggled #sidebar-dashboard {
      margin-left: -240px;
    }
  }

  .logo img {
  max-height: 30px;
  margin-right: 8px;
  margin-left: 18px;
}
.logo span {
  font-size: 28px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px; 
}
a {
  text-decoration: none;
}
.cont{
  background: #f6f9ff;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

 .bt{
   background: #f6f9ff;
 }
 
 .admin h6{
  font-size: 18px;
  font-weight: 600;
  color: rgb(1, 41, 112);
 }